/*          Colour Charts           */

.colour-chart-options > li:hover                    { background: #f0f0f0 none repeat scroll 0 0;}
ul.colour-charts                                    {}
ul.colour-charts li                                 { float:left; display:block; width:18%; padding:1%; height: 180px;}
ul.colour-charts li:hover                           { background:#f0f0f0;}
ul.colour-charts li a img                           { width:100%; height:70px;}
ul.colour-charts li h2                              { font-size:18px;}
ul.colour-charts li h3                              { font-size:12px;}
.colour-chart-nav                                   { margin-bottom:10px; margin-left:5px}
.colour-chart-nav.tall a                            { height:35px;}
.colour-chart-nav a                                 { float:left; width:186px; margin-right:10px;}
.colour-chart-nav a:last-of-type                    { width:187px; margin:0;}

.colour-chart-nav-3 a                               { float:left; margin-left:7px; margin-bottom:10px;}
.colour-chart-nav-6 a                               { float:left; text-align:center; margin-left:8px}
.colour-chart-nav-5 a                               { float:left; margin-left:10px; }
ul.colourcharts a                                   { display:block; padding:6px 0;}
ul.colourcharts a i                                 { margin-left:10px;}


.delivery h1                                        { font-size:20px; text-align:center}
.delivery h2                                        { font-size:16px; color:#003366; text-align:center; font-weight:bold}
.delivery h3                                        { font-size:14px; color:#003366; text-align:center; font-weight:bold; text-decoration:underline}
.delivery p                                         { padding-bottom:10px;}



.indv-ral-classic                                   { border-color:#505050; width:745px}
.indv-ral-classic .details                          { float:left; width: 575px; text-align:center}
.indv-ral-classic .more                             { float:right;}
.indv-ral-classic .drop-holder                      { float:right;}







#quicklinks                                         { width: 100%; clear:both; float: left; margin-bottom: 10px; }
.right-col .quicklink                                          { float: left; width: 167px; border: 1px solid #C3C3C3; box-szing: border-box; padding: 10px; margin-left: 10px; }
.quicklink img                                      { float: left }
.quicklink span                                     { float: right; width: 100px; font-size: 12px; font-weight: bold; color: #00A0C6; text-decoration: none; margin-top:10px}
.quicklink:first-of-type                            { margin-left: 0px !important}

#showcase                                           { width: 100%; float: left; }

form.product                                        { height: 120px; }
form.product .detail                                { float:left; width: 185px;}
form.product .image                                 { float:left; width:90px; height:90px;}
form.product .image > img                           { max-width: 88%;}
form.product .drop-holder                           { display:block; float:right; margin-top:14px;}
form.product .drop-holder select                    { margin-left:10px; margin-top:0px;}
form.product .detail a                              { clear: both; text-decoration: none; color: #3b7583; font-weight: bold; }
form.product .detail a img                          { float: left; margin-right: 20px; }
form.product .detail a .title                       { width: 100px; }
form.product .detail .price                         { color: #00a0c6; }
form.product a.more                                 { float:right; background-color: #00a0c6; color: white; padding: 5px; text-decoration:none; font-weight: bold; margin-bottom:5px; margin-top:5px}
form.product .detail a.button i                     { line-height: 1.3; padding-left: 15px; padding-right: 0px; }
form.product select                                 { float:right; margin-top:20px;}
form.product1 select                                 {margin-top:0px;}
form.product select#paintid                         { right: 72px; }
form.product button.add-to-cart                     { float:right; clear:both; margin-top: 7px;}
form.product .notice                                { float:left; color: red; text-decoration: none; }
form.product:first-of-type                          { margin-left: 0px; }
form.product button                                 { border: none; background-color: #f0027f; color: white; font-weight: bold; padding: 5px; cursor:pointer }
form.product button i                               { padding-right: 5px; }
form.product .pbutton                                 { float:right; clear:both; margin-top: 7px; border: none; background-color: #f0027f; color: white; font-weight: bold; padding: 5px; cursor:pointer }
form.product .pbutton i                               { padding-right: 5px; }
.imagesize1 {
	width:190px; height:26px
}

.terms > section                                    { margin-bottom: 10px; }
.terms > button.g-btn-p                             { font-weight: bold !important; }
.terms ul                                           { padding: 0 20px; }
.terms ul li                                        { list-style: square; text-weight: bold; }

.security                                           { text-align: center; margin: 0 auto; width: 70%; }
.security p                                         { margin-bottom: 10px; margin-top:10px }
.security ul                                        { text-align: left;}
.security ul li                                     { list-style-image: url('../images/extras/SecurityIcon.gif'); margin-bottom:10px }

.organisation-details span                          { font-weight: bold; color: #3b7583}

.details input[type=text]                           { width: 300px; padding: 0 2px; }

.relative                                           { position: relative; }

.ref                                                {  }
.ref > .relative                                    { height: 203px; width: 72%}
.ref > div > div                                    { min-height: 38px; }
.ref p.range                                        { height: 34px; }
.ref .reference                                     { font-weight: bold; color: #3b7583;}
.ref .description                                   { color: #00a0c6; margin-left: 0px !important}
.ref a.g-btn-b                                      { display: block; margin-bottom: 10px; text-align: right;}
.ref a.button i                                     { line-height: 1; padding-left: 5px; padding-right: 0px; }
.ref .alternatives                                  { float: right; }
.ref .rating                                        { position: absolute; bottom: 0; }

.lab_value                                          { margin:0 auto; text-align:center; height:77px;}
.lab_value_2                                        { height:85px;}
.lab_value_2 input	{
	height:20px
}
.lab_value input[type=text]                         { width: 100%; }
.convert-lab-box                                    { width:284px; margin:auto;}
.lab_value .cell                                    { width: 54px; text-align: center; display:inline-block;}
.lab_value .cell input[type=text]                   { width: 46px !important; }
.lab_value .g-btn-b                                 { float:right; clear:both;}

form.range span, form.colour span                   { width: 100px; display: inline-block; };
form.range, form.colour                             { margin-bottom: 10px; width: 300px; }
form fieldset                                       { border: none; margin: 0; }

.lab-result p                                       { margin-bottom: 10px; }
.lab-result p span                                  { font-weight: bold; display: inline-block; width: 50px; }

.lab-result                                         { }
.lab-result                                         { position: relative; }
.lab-result > span                                  { width: 30%; float: left; height: 230px; margin-right:3%;}
.lab-result > span + span + span + span             { width: 100%; height: 80px;}
.lab-result > span > .lab                           { margin-bottom: 20px; }
.lab-result > span > .lab > div                     { width: 33%; text-align: center; float: left; margin-bottom: 20px; }
.lab-result > span > .lab > div > span              { width: 100%; float: left; font-weight: bold; border-bottom: 1px solid #c3c3c3;}
.lab-result > span > p                              { width: 100%; }

.lab-result > span > p.charts                       { margin-top: 15px;}
.lab-result > span > p.charts img          { width: 30px; height:30px; display:inline-block }
.lab-result p.clickcolour {
	font-size:12px; font-style:italic; width:95%;
}
.lab-result p.clickcolour2 {display:none;}

.lab-result > span > p.charts > a                   { margin-right: 20px; }
.lab-result > span > p.range		{
	margin-top:15px;
}
.lab-result > span > p.description                  { margin-top: 15px; }
.lab-result > span > p.range a                      { text-decoration: none; }
.lab-result > span > p.reference                    { color: #3b7583; font-weight: bold; font-size:16px}
.lab-result > span > p > span                       { width: 33%; }
.lab-result > span > p > img                        { max-width: 200px; width: 100%;  height: 200px; margin: 15px auto;  }
.lab-result > span > p.charts a                     { display: inline-block; }
.lab-result > span > p.charts a:last-of-type		{
	margin-right:0px
}
.colours-container                                  { margin-top: 20px; }

.list-colours                                       { }
.list-colours .colour-header                    { text-align: center; padding: 5px 0px; font-size: 16px; font-weight: bold;}
.list-colours .colour-header span               { float: left; display: inline-block}
.list-colours .colour-header .reference         { width: 100px; }
.list-colours .colour-header .range             { width: 100px; }
.list-colours .colour-header .description       { width: 487px; }
.list-colours .colour-header .rating            { width: 75px; }
.list-colours .colour-header .chart-links       { width: 80px; }
.list-colours .colour-header .colour-link       { width: 120px; }
.list-colours .colour-header .colour-reference  { width: 100px; }

.list-colours .colour                               { text-align: center; border-style: none none solid; border-width: medium medium 1px; border-color: #c3c3c3; padding: 5px 5px; height: 60px; font-size: 13px;}
.list-colours .colour div p                     { display: none; }
.list-colours .colour:last-child                { border: none !important;}

.list-colours .colour > .relative                   { height: 203px; width: 72%}
.list-colours .colour .range                        { float: left; width: 100px;  margin-top:22px}
.list-colours .colour .reference                    { font-weight: bold; color: #3b7583; float: left; width: 100px; margin-top:22px }
.list-colours .colour .rating                       { width: 75px; float: left; }
.list-colours .colour .rating i                     { line-height: 60px; font-size:12px}
.list-colours .colour .description                  {  float: left; color: #00a0c6; width: 487px;  margin-top:22px }
.list-colours .colour a.g-btn-b                     { display: block; margin-bottom: 10px; text-align: right;}
.list-colours .colour a.button i                    { line-height: 1; padding-left: 5px; padding-right: 0px; }
.list-colours .colour .chart_links                  { float: left; width: 80px; text-align: left; line-height: 70px; font-size:12px; }
.list-colours .colour .chart_links > a              { display: inline-block; }
.list-colours .colour .chart_links img              { width: 20px; height:20px; display:inline-block }
.list-colours .colour .colour-link                  { float: left;  height: 100%; width: 120px;}
.list-colours .colour .colour-link a img             { width:120px;}

.list-colours .colour .colour-reference         { float: left; height: 71px; width: 100px; padding-left: 6px}
.list-colours .colour:last-of-type .colour-reference          { height: 60px;}

.list-alt-colours .colour-header                    { text-align: center; padding: 5px 0px; font-size: 16px; font-weight: bold;}
.list-alt-colours .colour-header span               { float: left; display: inline-block}
.list-alt-colours .colour-header .reference         { width: 100px; }
.list-alt-colours .colour-header .range             { width: 100px; }
.list-alt-colours .colour-header .description       { width: 487px; }
.list-alt-colours .colour-header .rating            { width: 70px; }
.list-alt-colours .colour-header .chart-links       { width: 80px; }
.list-alt-colours .colour-header .colour-link       { width: 120px; }
.list-alt-colours .colour .colour-link a img             { width:120px;}

.list-alt-colours .colour-header .colour-reference  { width: 100px; }

.list-alt-colours .colour                           { text-align: center; border-style: none none solid; border-width: medium medium 1px; border-color: #c3c3c3; padding: 5px 0px; height: 60px; font-size: 13px;}
.list-alt-colours .colour div p                     { display: none; }
.list-alt-colours .colour:last-child                { border: none !important;}
.list-alt-colours .colour > .relative               { height: 203px; width: 72%}
.list-alt-colours .colour .reference                { font-weight: bold; color: #3b7583; float: left; width: 100px; margin-top:22px}
.list-alt-colours .colour .range                    { float: left; width: 100px;  margin-top:22px}
.list-alt-colours .colour .rating                   { width: 70px; float: left;}
.list-alt-colours .colour .rating i                 { line-height: 60px; font-size:12px }
.list-alt-colours .colour .description              { float: left; color: #00a0c6; width: 487px;  margin-top:22px}
.list-alt-colours .colour a.g-btn-b                 { display: block; margin-bottom: 10px; text-align: right;}
.list-alt-colours .colour a.button i                { line-height: 1; padding-left: 5px; padding-right: 0px; }
.list-alt-colours .colour .chart_links              { float: left; width: 80px; text-align: center; line-height: 70px; font-size:8px; }
.list-alt-colours .colour .chart_links > a          { display: inline-block; }
.list-alt-colours .colour .chart_links img          { width: 20px; height:20px; display:inline-block }
.list-alt-colours .colour .colour-link              { float: left;  height: 100%; width: 120px;}
.list-alt-colours .colour .colour-link a img             { width:120px;}
.clickforlab {
	width:200px; text-align:right; font-size:12px; font-style:italic
}

.list-alt-colours .colour .colour-reference         { float: left; height: 71px; width: 100px; padding-left: 6px}

.list-alt-colours .colour:last-of-type .colour-reference          { height: 60px;}

.palette                                            { width: 450px; }
.palette .colour                                    { margin-left: 10px; margin-bottom: 10px; }
.palette .colour a                                  { margin: 0; padding: 0; }
.palette .colour a img                              { display: block }
.palette .colour p                                  { text-align: center; text-transform: uppercase;}

.services .intro                                    { margin-bottom: 20px; }
.services .details                                  { margin-bottom: 20px; }
.services address                                   { margin-bottom: 20px; }
.services p                                         { margin-bottom: 5px; }
.services button.g-btn-g                            { display: initial; }

.information                                        { width: 510px; }

code                                                { color: #3b7583 }

iframe                                    { border: 0 none; width: 100%; max-height: 600px; padding: 0px; }

ul.print-options                                    {}
.print-options > li:hover                    { background: #f0f0f0 none repeat scroll 0 0;}
.advanced-menu > li:hover						{ background: #f0f0f0 none repeat scroll 0 0;}
ul.print-options p                                  { margin-bottom: 10px; }
ul.print-options p.reference                        { color: #00a0c6; font-size:14px; font-weight: bold; }
ul.print-options div.description                    { width: auto; margin: 0; }

ul.print-options li                                 {}
ul.print-options li a                               { font-weight: bold; float:right;}
ul.print-options li a i                             { margin-left: 6px; margin-right: 0px; }
.products .mini .image img                          { height: 40px; }
.products .mini .offers                             { font-size: 0.8em; margin-top: 10px;}

.rating-legend                                      { margin-top: 20px;}
.rating-legend2 {
	width:90%; margin-left:30%; margin-bottom:10px
}
.rating-legend .fa {
	font-size:12px
}
.colour-trends .image                               { float:left; width:200px;}
.colour-trends .intro                               { float:right; width:526px;}
.colour-trends .intro select                        { float:right; margin:0 10px 0 0;}
.colour-trends .intro button                        { float:right;}
.colour-trends p.price                              { float:left;}
.underline {
	text-decoration: underline;
}
.underline_bold {
	text-decoration: underline; font-weight:bold;
}



.print-chart                                        { line-height: 20px; margin-bottom: 0px; }
.print-chart > img                                  { float: left; margin-right: 10px; }
.buy-chart                                          { line-height: 20px; }
.buy-chart > img {
display:inline-block; border-style: none; border-color: inherit; border-width: medium; vertical-align:middle; margin-right:6px;margin-left:6px
}


@media only screen and (max-width: 679px) {

    .has-sub > .sub                                 { display: none; }
    .has-sub:hover > .sub                           { display: block; z-index:100; width:100%; transition: height .1s ease-in; -webkit-transition: height .1s ease-in; }

    #mobnav ul li ul.sub > li > a                   { background-color: #f0f0f0; padding-left: 70px; width: 100%;}

}

.no-border { border: none !important; }




















